@import '../../styles/variables';
@import '../../styles/breakpoints.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 2rem;
  border-bottom: 1px solid rgba($color: #262d33, $alpha: 0.1);
  font-size: 17px;
  font-family: $serat;
  font-weight: 600;

  .header__logo {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      width: 40px;
    }
    ul {
      text-decoration: none;
      display: flex;
      align-items: center;
      li {
        list-style: none;

        a {
          text-decoration: none;
          margin-left: 64px;
          line-height: 24px;
          color: #262d33;
        }
      }
    }
  }
  .contact__socials {
    display: flex;
    align-items: center;

    .contacts {
      color: $secondary;
      font-size: 14px;
      font-weight: 500;
    }

    .line {
      height: 24px;
      width: 1px;
      background-color: rgba($color: #262d33, $alpha: 0.25);
      margin-left: 64px;
    }

    .socials {
      margin-left: 32px;
      span {
        margin-left: 32px;
        img {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
  .burger {
    display: none;
  }

  @include media('<tablet') {
    padding: 8px 0.5rem;
    .header__logo {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
      }
      ul {
        display: none;
      }
    }
    .contact__socials {
      display: none;
    }
    .burger {
      display: block;
    }
  }

  @include media('>=tablet', '<992px') {
    padding: 8px 0.5rem;
    .header__logo {
      display: flex;
      align-items: center;

      img {
        height: 32px;
        width: 32px;
      }
    }
    .contact__socials {
      display: none;
    }
  }
}
