@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  .header__logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    img {
      width: 70px;
      height: 70px;
    }
  }

  .nav__bar {
    margin-right: 1rem;

    ul {
      display: flex;
      list-style-type: none;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}
