@import '../../styles/variables';
@import '../../styles/breakpoints.scss';

.news {
  width: 90%;
  margin: 104px auto;

  .more__news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    h3 {
      font-family: $serat;
      text-transform: capitalize;
      color: $black;
    }

    a {
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
  .news__page {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .news__card {
      border: 1px solid rgba($color: $black, $alpha: 0.15);
      border-radius: 8px;
      margin: 0 0.2rem;
      padding: 1rem;
      box-shadow: $shadow2;

      a {
        text-decoration: none;

        .news__title {
          display: flex;
          flex-direction: row-reverse;

          .title__news {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 0.3rem;

            p {
              font-family: $serat;
              color: rgba($color: $secondary, $alpha: 0.95);
              font-weight: 600;
              line-height: 24px;
            }

            .time__stamp {
              display: flex;
              justify-content: flex-end;
              font-style: italic;
              color: rgba($color: $black, $alpha: 0.75);
            }
          }

          .news__image {
            img {
              border-radius: 10px;
              border: 3px solid rgba($color: $black, $alpha: 0.25);
            }
          }
        }
        .news__description {
          height: 5.5rem;
          color: rgba($color: $black, $alpha: 0.9);
        }
        .news__footer {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .avatar {
            display: flex;
            align-items: center;
            color: $black;
            font-weight: 400;

            img {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  @include media('<=phone') {
    width: 100%;
    padding: 8px;

    .news__page {
      grid-template-columns: 1fr;
      gap: 32px;

      .news__card {
        padding: 0.5rem;
        box-shadow: $shadow2;
        a {
          .news__title {
            flex-direction: column-reverse;
          }
        }
      }
    }
  }
}
