@import '../../styles/variables';
@import '../../styles/breakpoints.scss';

.info__container {
  margin: 56px 0;
  padding: 48px 0;
  background: rgb(250, 250, 250);

  h3 {
    font-family: $serat;
    text-transform: capitalize;
    text-align: center;
    line-height: 31px;
    margin-bottom: 32px;
    color: $black;
  }
  .coin__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      img {
        height: 60px;
        width: 60px;
      }

      p {
        text-transform: capitalize;
        font-weight: 500;
        margin-top: 8px;
        color: rgba($color: $black, $alpha: 0.75);
      }
    }
  }

  @include media('<=phone') {
    .coin__info {
      flex-direction: column;
      width: 95%;

      .info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border: 1px solid rgba($color: $black, $alpha: 0.15);
        background: white;
        box-shadow: $shadow2;
        width: 100%;
        margin: 8px 0;
        padding: 8px 0 8px 32px;

        p {
          margin-left: 8px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }

  @include media('>phone', '<600px') {
    .coin__info {
      flex-direction: column;
      width: 90%;

      .info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border: 1px solid rgba($color: $black, $alpha: 0.15);
        background: white;
        box-shadow: $shadow2;
        width: 100%;
        margin: 8px 0;
        padding: 8px 0 8px 32px;

        p {
          margin-left: 16px;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }

  @include media('>=600px', '<768px') {
    .coin__info {
      width: 100%;
      padding: 0 8px;
    }
  }
}
